<header>
    <h1>Pokédex</h1>

    
    <nav>
        <!-- To go back to index page -->
        <a href="/pokemon">Home</a>

        <!-- To create link to submit new pokemon -->
        <a href="/pokemon/new">Create New Pokémon</a>
    </nav>
</header>
