<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Pokédex</title>

 <!-- OUR CSS AND JS -->
<!-- /public = / | public/styles.css = /styles.css -->
<link rel="stylesheet" href="/style.css" />

<!-- Including google font Dm Sans -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Libre+Baskerville:wght@700&display=swap">

